html{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #364552;
    color: #fff;
    padding: 1rem 2rem;
}
header table{
    margin: 0;
    font-size: 1.5rem;
    
}

header table td{
    padding: 5px;
    transition: color 0.3s ease;
}

header table td:hover{
    color: cornflowerblue;
    cursor: pointer;
}
header p{
    margin: 0;
    float: right;
    
}

header a{
    float: right;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

header a:hover{
    color: cornflowerblue;
    cursor: pointer;
}
body{
    margin: 0;
    background-color: #efefef;
}
.box{
    
	position:absolute;
    margin-top: rem;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    
	border-radius:3px;
	padding:70px 100px;
}
.box h1{
    color:#000  ;	
	text-transform:uppercase;
    font-size: 23px;
    margin: 2rem;
    display: block;
    text-align: center;
}
#id_caja_error{
    text-align: center;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#000;	
    pointer-events: auto;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#000;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #364552;	
}
.enviar{
	color:#fff;
	background-color:#364552;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}